{% extends 'accounts/main.html' %}

{% block content %}
<h1>{{curriculum.progressionid}}:
	{{curriculum}}</h1>

<h2>Challenges</h2>
<table class="table table-sm">
	<tr>
		<th>Challenge</th>
		<th>Type of Review</th>
		<th>Type of Answer</th>
		<th>Hints</th>
		<th>HintsVideo</th>
	</tr>
	{% for challenge in challengeList %}
	<tr>
		<td>{{challenge.challengeid.longname}}</td>
		<td>{{challenge.challengeid.challengetypeid}}</td>
		<td>{{challenge.challengeid.answertypeid}}</td>
		<td>{{challenge.challengeid.hints}}</td>
		<td>{% if challenge.challengeid.hintsvideo%}
			{% include 'instruct/VideoPlayerModal.html' with videoId=challenge.challengeid.id videoUrl=challenge.challengeid.hintsvideo.url videoTitle=challenge.challengeid.shortname videoDescription=challenge.challengeid.hints %}
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>


<script type="text/javascript">
    function LaunchVideoModal(identifier){
        var modal = document.getElementById("videoModal-"+$(identifier).data('id')); 
        modal.style.display = "block";
    }
	function CloseVideoModal(identifier){
        var modal = document.getElementById("videoModal-"+$(identifier).data('id')); 
        modal.style.display = "none";
	}

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if ($(event.target).hasClass('videoModal')) {
            $(event.target).find('video')[0].pause();
			var modal = document.getElementById(event.target.id); 
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}