{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<!--Breadcrumbs-->
<div>
    <h2>{{student.first_name}} {{student.last_name}} > {{curriculum.progressionid.shortname}} > {{curriculum.shortname}}</h2>
</div>
<!--Body-->
<div>
    <!--Challenge Info-->
    <div class="w-50" style="float:left">
        <h2>{{challenge.longname}}</h2>
        <p>Challenge Type: {{challenge.challengetypeid}}</p>
        <p>Answer Type: {{challenge.answertypeid}}</p>
        <p>Hints: {{challenge.hints}}</p>
        <p>HintsVideo: {% if challenge.hintsvideo%}
            {% include 'instruct/VideoPlayerModal.html' with videoId=challenge.id videoUrl=challenge.hintsvideo.url videoTitle=challenge.shortname videoDescription=challenge.hints %}
            {% endif %}</p>
    </div>
    <!--Assessment Form-->
    <div class="w-50" style="float:right">
        <div>
            <div>
                <h2>Video Capture the Assessment</h2>
                <p>Record up to 10 seconds of footage</p>
                <div style="padding:2.5% 10% 0 10%;">
                    <video id="preview" width="100%" autoplay muted controls></video>
                    <div class="video_recorder_controls_bkg">
                        <div class="video_recorder_controls">
                            <div id="startButton" class=" active"></div><!--Changes to Stop button-->
                            <div id="stopButton" ></div>
                            <div id="switchCameraButton" data-facing="environment" ></div>
                            <div style="clear:both"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>Assessment Form</h2>
            <form id="submitChallengeForm" method="POST" enctype="multipart/form-data" action="/instruct/InstructStudentChallenge_Submit">
                {% csrf_token %}
                <!--hidden values-->
                <input type="text" name="student" value="{{student.id}}" hidden>
                <input type="text" name="curriculum" value="{{curriculum.id}}" hidden>
                <input type="text" name="progression" value="{{curriculum.progressionid.id}}" hidden>
                <input type="text" name="challenge" value="{{challenge.id}}" hidden>
                <div class="p-2">
                    <div class="switch-field">
                        <input type="radio" id="radio-one" name="resultCode" value="pass"/>
                        <label for="radio-one">Pass</label>
                        <input type="radio" id="radio-two" name="resultCode" value="try-again" checked />
                        <label for="radio-two">Try-Again</label>
                    </div>
                </div>
                <textarea name="assessment_comments" placeholder="Enter Comments Here..." rows="5" cols="50"></textarea>
                </br>
                <input hidden id="fileInputElement" type="file" name="recordingBlob">
                <input type="submit" name="submit_assessment_button" value="Complete Assessment"/>
            </form>
        </div>
    </div>
    <div style="clear:both"></div>
</div>
<script type="text/javascript">

    let preview = document.getElementById("preview");
    let startButton = document.getElementById("startButton");
    let stopButton = document.getElementById("stopButton");
    let switchCameraButton = document.getElementById("switchCameraButton");
    let submitChallengeForm = document.getElementById("submitChallengeForm");
    let fileInputElement = document.getElementById("fileInputElement");

    let recordingTimeMS = 10000;

    loadRecordingStream(switchCameraButton.dataset.facing);

    switchCameraButton.addEventListener("click", function() {
        if(switchCameraButton.dataset.facing == "environment") {
            switchCameraButton.dataset.facing = "user";
        } else {
            switchCameraButton.dataset.facing = "environment";
        }
        
        loadRecordingStream(switchCameraButton.dataset.facing);
    },false);

    function loadRecordingStream(cameraFacing){
        navigator.mediaDevices.getUserMedia({video: {facingMode:cameraFacing}, audio:true}).then(stream => {
            preview.srcObject = stream;
            preview.captureStream = preview.captureStream || preview.mozCaptureStream;
            return new Promise(resolve => preview.onplaying = resolve);
        });
    }

    function log(msg){
        console.log("LOGMSG: "+msg);
    }
    function wait(delayInMS){
        return new Promise(resolve => setTimeout(resolve,delayInMS));
    }
    function startRecording(stream,lengthInMS){
        Toggle_playstop();
        let recorder = new MediaRecorder(stream);
        let data = [];

        recorder.ondataavailable = event => data.push(event.data);
        recorder.start();
        log(recorder.state + " for " + (lengthInMS/1000) + " seconds...");

        let stopped = new Promise((resolve, reject) => {
            recorder.onstop = resolve;
            recorder.onerror = event => reject(event.name);
        });

        // let recorded = wait(lengthInMS).then(() => recorder.state == "recording" && recorder.stop()
        // );

        return Promise.all([stopped]).then(() => data);
        // return Promise.all([stopped,recorded]).then(() => data);
    }

    function stop(stream) {
        stream.getTracks().forEach(track => track.stop());
    }

    startButton.addEventListener("click", function() {
        startRecording(preview.captureStream(), recordingTimeMS)
        .then (recordedChunks => {
            let recordedBlob = new Blob(recordedChunks, {type:"video/webm"});
            preview.srcObject = null;
            preview.src = URL.createObjectURL(recordedBlob);

            log("Successfully recorded "+recordedBlob.size + " bytes of " + recordedBlob.type + " media.");

            file = new File([recordedBlob],BuildRecordingFileName(".webm"),{type:"video/webm",lastModified:new Date().getTime()});
            container = new DataTransfer();
            container.items.add(file);
            fileInputElement.files = container.files;
        })
        .catch(log);
    },false);

    stopButton.addEventListener("click", function() {
        Toggle_playstop();
        stop(preview.srcObject);
    },false);

    function Toggle_playstop(){
        if(startButton.classList.contains("active")){
            startButton.className = startButton.className.replace(" active", "");
            stopButton.className += " active";
        } else {
            startButton.className += " active";
            stopButton.className = stopButton.className.replace(" active", "");
        }
    }
    
    function addLeadingZeros(n) {
        if (n <= 9) {
            return "0" + n;
            }
            return n
        }

    function BuildRecordingFileName(fileExtension){
        var currentDate = new Date();
        //var currDate = currentDate.getFullYear()+"-"+currentDate.getMonth()+"-"+currentDate.getDay()+"-"+currentDate.getHours()+"-"+currentDate.getMinutes()+"-"+currentDate.getSeconds();
        var year = currentDate.getFullYear();
        var month = addLeadingZeros(currentDate.getMonth() + 1);      // "+ 1" becouse the 1st month is 0
        var day = addLeadingZeros(currentDate.getDate());
        var hour = addLeadingZeros(currentDate.getHours());
        var minutes = addLeadingZeros(currentDate.getMinutes());
        var seconds = addLeadingZeros(currentDate.getSeconds())

        var currDate = year+"-"+month+"-"+day+"-"+hour+"-"+ minutes+"-"+ seconds;

        const urlParams = new URLSearchParams(window.location.search);
        var fileName= "S"+urlParams.get('student')+"_C"+urlParams.get('curriculum')+"_CH"+urlParams.get('challenge')+"_D"+currDate;
        return fileName+fileExtension;
    }
</script>
{% endblock %}