{%  extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<style>
    .button {
        text-align: center;
        padding:5px;
        width:90%;
        color:#000 !important;
        background-color: #fff !important;
        border:1px solid #ccc !important;
        cursor:pointer;
        border-radius:16px;
    }
    .switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.video_recorder_controls {
    margin-top:-10px;
    background-color: #020202;
}
#startButton {
    background: url("/static/images/VideoPlayerIcons/record_icon.png") no-repeat center;
    background-size:50px 50px;
    color: white;
}
#stopButton {
    background: url("/static/images/VideoPlayerIcons/stop_icon.png") no-repeat center;
    background-size:50px 50px;
    color: white;
}
#startButton,#stopButton,#switchCameraButton {
    cursor:pointer;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    display:none;
}
#startButton:hover,#stopButton:hover {
    background-color: #ccc;
}
#startButton.active,#stopButton.active {
    display:block;
    
}


</style>
<!--Breadcrumbs-->
<div>
    <h2>{{student.first_name}} {{student.last_name}} > {{curriculum.progressionid.shortname}} > {{curriculum.shortname}}</h2>
</div>
<!--Body-->
<div>
    <!--Challenge Info-->
    <div class="w-50" style="float:left">
        <h2>{{challenge.longname}}</h2>
        <p>Challenge Type: {{challenge.challengetypeid}}</p>
        <p>Answer Type: {{challenge.answertypeid}}</p>
        <p>Hints: {{challenge.hints}}</p>
        <p>HintsVideo: {% if challenge.hintsvideo%}
            {% include 'instruct/VideoPlayerModal.html' with videoId=challenge.id videoUrl=challenge.hintsvideo.url videoTitle=challenge.shortname videoDescription=challenge.hints %}
            {% endif %}</p>
    </div>
    <!--Assessment Form-->
    <div class="w-50" style="float:right">
        <div>
            <div>
                <h2>Video Capture the Assessment</h2>
                <p>Record up to 10 seconds of footage</p>
                <div style="padding:2.5% 10% 0 10%;">
                    <video id="preview" width="100%" autoplay muted controls></video>
                    <div class="video_recorder_controls">
                        <div id="startButton" class=" active"></div><!--Changes to Stop button-->
                        <div id="stopButton" ></div>
                        <div hidden class="button" style="float:left;width:30%"><a id="downloadButton">Save Recording</a></div><!--Is Disabled until a video recording file exists-->                
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>Assessment Form</h2>
            <form id="submitChallengeForm" method="POST" enctype="multipart/form-data" action="/instruct/InstructStudentChallenge_Submit">
                {% csrf_token %}
                <!--hidden values-->
                <input type="text" name="student" value="{{student.id}}" hidden>
                <input type="text" name="curriculum" value="{{curriculum.id}}" hidden>
                <input type="text" name="progression" value="{{curriculum.progressionid.id}}" hidden>
                <input type="text" name="challenge" value="{{challenge.id}}" hidden>
                <div class="p-2">
                    <div class="switch-field">
                        <input type="radio" id="radio-one" name="resultCode" value="pass"/>
                        <label for="radio-one">Pass</label>
                        <input type="radio" id="radio-two" name="resultCode" value="try-again" checked />
                        <label for="radio-two">Try-Again</label>
                    </div>
                </div>
                <textarea name="assessment_comments" placeholder="Enter Comments Here..." rows="5" cols="50"></textarea>
                </br>
                <input hidden id="fileInputElement" type="file" name="recordingBlob">
                <input type="submit" name="submit_assessment_button" value="Complete Assessment"/>
            </form>
        </div>
    </div>
    <div style="clear:both"></div>
</div>
<script type="text/javascript">

    let preview = document.getElementById("preview");
    let startButton = document.getElementById("startButton");
    let stopButton = document.getElementById("stopButton");
    let downloadButton = document.getElementById("downloadButton");
    let submitChallengeForm = document.getElementById("submitChallengeForm");
    let fileInputElement = document.getElementById("fileInputElement");


    let logElement = document.getElementById("log");

    let recordingTimeMS = 10000;

    function log(msg){
        console.log("LOGMSG: "+msg);
    }
    function wait(delayInMS){
        return new Promise(resolve => setTimeout(resolve,delayInMS));
    }
    function startRecording(stream,lengthInMS){
        Toggle_playstop();
        let recorder = new MediaRecorder(stream);
        let data = [];

        recorder.ondataavailable = event => data.push(event.data);
        recorder.start();
        log(recorder.state + " for " + (lengthInMS/1000) + " seconds...");

        let stopped = new Promise((resolve, reject) => {
            recorder.onstop = resolve;
            recorder.onerror = event => reject(event.name);
        });

        // let recorded = wait(lengthInMS).then(() => recorder.state == "recording" && recorder.stop()
        // );

        return Promise.all([stopped]).then(() => data);
        // return Promise.all([stopped,recorded]).then(() => data);
    }

    function stop(stream) {
        stream.getTracks().forEach(track => track.stop());
    }

    startButton.addEventListener("click", function() {
        navigator.mediaDevices.getUserMedia({video: {facingMode:"environment"}, audio:true}).then(stream => {
            console.log("PreviewCaptureStream: "+preview.captureStream);
            console.log("Preview SrcObject: "+preview.srcObject);
            preview.srcObject = stream;
            downloadButton.href = stream;
            preview.captureStream = preview.captureStream || preview.mozCaptureStream;
            return new Promise(resolve => preview.onplaying = resolve);
        }).then(() => startRecording(preview.captureStream(), recordingTimeMS))
        .then (recordedChunks => {
            let recordedBlob = new Blob(recordedChunks, {type:"video/webm"});
            preview.srcObject = null;
            preview.src = URL.createObjectURL(recordedBlob);
            downloadButton.href = preview.src;
            downloadButton.download = BuildRecordingFileName(".webm");

            log("Successfully recorded "+recordedBlob.size + " bytes of " + recordedBlob.type + " media.");

            file = new File([recordedBlob],BuildRecordingFileName(".webm"),{type:"video/webm",lastModified:new Date().getTime()});
            container = new DataTransfer();
            container.items.add(file);
            fileInputElement.files = container.files;

            //submitChallengeFormData = new FormData(submitChallengeForm);
            //submitChallengeFormData.append("recordingBlob",recordedBlob,BuildRecordingFileName(".webm"));
            
        })
        .catch(log);
    },false);

    stopButton.addEventListener("click", function() {
        Toggle_playstop();
        stop(preview.srcObject);
    },false);

    function Toggle_playstop(){
        if(startButton.classList.contains(" active")){
            startButton.className = startButton.className.replace(" active", "");
            stopButton.className += " active";
        } else {
            startButton.className += " active";
            stopButton.className = stopButton.className.replace(" active", "");
        }
    }
    function BuildRecordingFileName(fileExtension){
        var currentDate = new Date();
        var currDate = currentDate.getFullYear()+"-"+currentDate.getMonth()+"-"+currentDate.getDay()+"-"+currentDate.getHours()+"-"+currentDate.getMinutes()+"-"+currentDate.getSeconds();
        const urlParams = new URLSearchParams(window.location.search);
        var fileName= "S"+urlParams.get('student')+"_C"+urlParams.get('curriculum')+"_CH"+urlParams.get('challenge')+"_D"+currDate;
        return fileName+fileExtension;
    }
    
    function LaunchVideoModal(identifier){
        var modal = document.getElementById("videoModal-"+$(identifier).data('id')); 
        modal.style.display = "block";
    }
	function CloseVideoModal(identifier){
        var modal = document.getElementById("videoModal-"+$(identifier).data('id')); 
        modal.style.display = "none";
		$(modal).find('video')[0].pause();
	}

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if ($(event.target).hasClass('videoModal')) {
            $(event.target).find('video')[0].pause();
			var modal = document.getElementById(event.target.id); 
            modal.style.display = "none";
        }
    }
</script>
{% endblock %}