{%  extends 'accounts/main.html' %}

{% block content %}
<style>
	
table.sce_passed {
    background-color: #84cc7a;
}

table.sce_try_again {
    background-color: #cc7a7a;
}
</style>
{% if search_error %}
<style>
.search_error_box {
	display:block;
}
</style>
{% else %}
<style>
.search_error_box {
	display:none;
}
</style>
{% endif %}
<!--
<p>This will hold the 3 dropdown menus for selecting a student, curriculum, and challenge which will then load a form for the instructor to assess that particular challenge for that student/curriculum.</p>
<form method="post" action="/instruct/InstructStudentChallenge">
	{% csrf_token %}
	<select id="studentid" name="student">
		<option value="0">Select a Student</option>
		{% for stud in studentList %}
		<option value="{{stud.id}}" {% if stud.id == student.id %}selected{% endif %}>{{stud.first_name}} {{stud.last_name}}</option>
		{% endfor %}
	</select>

	<select id="curriculumid" name="curriculum">
		<option value="0">Select a Curriculum</option>
		{% for curr in curriculumList %}
		<option value="{{curr.id}}" {%if curr.id == curriculum.id%}selected{% endif %}>{{curr.progressionid.shortname}}:{{curr.shortname}}</option>
		{% endfor %}
	</select>

	<select id="challengeid" name="challenge">
		<option value="0">Select a Challenge</option>
		{% for challenge in challengeList %}
		<option value="{{challenge.id}}">{{challenge.challengeid.longname}}</option>
		{% endfor %}
	</select>

	<button type="submit">Start Assessment</button>
</form>
-->


<div id="studentsearchtable">
	<div>
		<form class="d-flex" method=POST action="{% url 'instructStudentChallenge_select' %}">
			{% csrf_token %}
			<input class="form-control me-2" type="search" placeholder="Search" name="searched" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>
	</div>
	<div class="search_error_box">
		<p>No results found when searching for <b style='color:red'>{{search_error}}</b></p>
	</div>
	<h2>Select a Student</h2>
	<table class="table table-sm">
		<tr>
			<th>Username</th>
			<th>Name</th>
<!--
				<th>Email</th>
-->
			<th>Action</th>
		</tr>
		{% for student in studentList %}
		<tr>
			<td>{{student.username}}</td>
			<td>{{student.last_name}}, {{student.first_name}}</td>
<!--
			<td>{{student.email}}</td>
-->
			<td>
				<form method='get' action="{% url 'instructStudentChallenge_select' %}?student={{student.id}}">
					{% csrf_token %}
					<input type="text" name="student" value="{{student.id}}" hidden> 
					<button class="edit-user" type="submit">Select</button>
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div id="curriculumsearchtable">
	<div>
		<form class="d-flex" method=POST action="{% url 'instructStudentChallenge_select' %}?student={{student.id}}">
			{% csrf_token %}
			<input class="form-control me-2" type="search" placeholder="Search" name="searched" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>
	</div>
	<div class="search_error_box">
		<p>No results found when searching for <b style='color:red'>{{search_error}}</b></p>
	</div>
	<h2>Select a Curriculum for {{student.first_name}} {{student.last_name}}</h2>
	<table class="table table-sm">
		<tr>
			<th>Progression</th>
			<th>Curriculum</th>
<!--
			<th>Current Progress</th>
-->
			<th>Action</th>
		</tr>
		{% for curriculum in curriculumList %}
		<tr>
			<td>{{curriculum.progressionid.shortname}}</td>
			<td>{{curriculum.shortname}}</td>
<!--
			<td>Fake %</td>
-->
			<td>
				<form method='get' action="{% url 'instructStudentChallenge_select' %}?student={{student.id}}&curriculum={{curriculum.id}}">
					{% csrf_token %}
					<input type="text" name="student" value="{{student.id}}" hidden>
					<input type="text" name="curriculum" value="{{curriculum.id}}" hidden>
					<button class="edit-user" type="submit">Select</button>
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div id="challengesearchtable">
	<div>
		<form class="d-flex" method=POST action="{% url 'instructStudentChallenge_select' %}?student={{student.id}}&curriculum={{curriculum.id}}">
			{% csrf_token %}
			<input class="form-control me-2" type="search" placeholder="Search" name="searched" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		</form>
	</div>
	<div class="search_error_box">
		<p>No results found when searching for <b style='color:red'>{{search_error}}</b></p>
	</div>
	<h2>Select a Challenge for {{student.first_name}} {{student.last_name}} > {{curriculum.progressionid.shortname}} > {{curriculum.shortname}}</h2>
	<table class="table table-sm">
		<tr>
			<th>Challenge</th>
<!--
			<th>Type of Review</th>
			<th>Type of Answer</th>
			<th>Recent Status</th>
-->
		</tr>
		{% for challenge in challengeList %}
		<tr>
			<td>{{challenge.longname}}</td>
<!--
			<td>{{challenge.challengetypeid}}</td>
			<td>{{challenge.answertypeid}}</td>
-->
			<td>{% for sce in sce_list %}
				{% if sce.challengeid.id == challenge.id %}
					<table class="{%if sce.resultcode %}sce_passed{% else %}sce_try_again{% endif %}">
						<tr>
							<td>{{sce.instructorid.username}}</td>
							<td>{{sce.assessdate}}</td>
						</tr>
					</table>
				{% endif %}
				{% endfor %}
				<form method='get' action="{% url 'instructStudentChallenge' %}?student={{student.id}}&curriculum={{curriculum.id}}">
					{% csrf_token %}
					<input type="text" name="student" value="{{student.id}}" hidden>
					<input type="text" name="curriculum" value="{{curriculum.id}}" hidden>
					<input type="text" name="challenge" value="{{challenge.id}}" hidden>
					<button class="edit-user" type="submit">Assess</button>
<!--
					<button class="edit-user" type="submit">Start New Assessment</button>
-->
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
<script type="text/javascript">
	var studentsearch = document.getElementById("studentsearchtable");
	var curriculumsearch = document.getElementById("curriculumsearchtable");
	var challengesearch = document.getElementById("challengesearchtable");
	
	const queryString = window.location.search;
	const urlParams = new URLSearchParams(queryString);
	if((urlParams.get('student')) && (urlParams.get('curriculum'))) {
		studentsearch.style.display = "none";
		curriculumsearch.style.display = "none";
		challengesearch.style.display = "block";
	} else if(urlParams.get('student')) {
		studentsearch.style.display = "none";
		curriculumsearch.style.display = "block";
		challengesearch.style.display = "none";
	} else {
		studentsearch.style.display = "block";
		curriculumsearch.style.display = "none";
		challengesearch.style.display = "none";
	}
</script>
{% endblock %}