{% extends 'accounts/main.html' %}

{% block content %}
<h2>This is Student Home Page html</h2>

<h2>Your Progression History</h2>
<table class="table table-sm">
	<tr>
		<th>Progression</th>
		<th>Curriculum</th>
		<th>Status</th>
	</tr>
	{% for pastProgression in pastProgressions %}
	<tr>
		<td><a class="nav-link"
				href="{% url 'display_progression_curriculums' pastProgression.progressionid.id %}">{{pastProgression.progressionid}}</a>
		</td>
		<td><a class="nav-link"
				href="{% url 'display_curriculum_challenges' pastProgression.curriculumid.id %}">{{pastProgression.curriculumid}}</a>
		</td>
		<td>{% if pastProgression.active %}In Progress{% endif %}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}