{% load static %}
<script src="{% static 'js/videoModal.js' %}" type="text/javascript"></script>
<link href="{% static 'css/videoModal.css' %}" rel="stylesheet">

{% block content %}

<button id="myBtn-{{videoId}}" data-id="{{videoId}}" onclick="LaunchVideoModal(this)">Watch it</button>
<div id="videoModal-{{videoId}}" class="videoModal">
    <div class="videoModal-content">
        <span class="close" data-id="{{videoId}}" onclick="CloseVideoModal(this)">&times;</span>
        <div style="clear:both"></div>
        <div class="videoModal-content-description">
            <h1>{{videoTitle}}</h1>
        </div>
        <video width="100%" controls controlsList="nodownload">
            <source src="{{videoUrl}}" type="video/mp4">
            <b>{{videoTitle}}</b>
        </video>
        <div class="videoModal-content-description">
            <p>{{videoDescription}}</p>
        </div>
    </div>
</div>

{% endblock %}