{% load static %}
{% load groupAuth %}


<style>
  .hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
  .fa-facebook-f:before {
    content: "\f39e" !important;
  }
  .fa-twitter:before {
    content: "\f099" !important;
  }
  .fa-instagram:before {
    content: "\f08c" !important;
  }
  footer {
    width: 100%;
    bottom: 0;
  }

  .footer {
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    padding: 18px 12px 12px 12px;
    display: flex;
    flex-flow: row wrap;
  }

  .footer p {
    margin: auto;
  }

  .footer .footer-address {
    color: #2ea3ff;
  }

  .footer #navbarNav2 ul li,
  .footer #navbarNav3 ul li {
    display: block;
  }

  .site-footer-logo {
    text-align: left;
  }

  .socialMediaIcon img {
    width: 33px;
    height: 33px;
  }

  .bg-dark h4 {
    color: #2ea3ff;
  }
</style>
<footer class="text-center text-lg-start text-white bg-dark">
  <!-- Section: Links  -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright: <a class="text-white" href="https://Absolute2SD.com/">Absolute2SD</a>
  </div>
</footer>